$background-color: linear-gradient(
	180deg,
	rgba(0, 197, 244, 1) 0%,
	rgba(0, 146, 255, 1) 72%
);
$box-color: rgb(30, 30, 100);
$buttonO: rgba(211, 34, 34, 0.795);
$buttonX: rgba(9, 87, 9, 0.753);
$item-color: rgb(72, 152, 218);
